#noborder{
   margin: 0px;
   padding: 0px;
   border: 0px;
}

#imagecolumn{
   position: fixed;
   right: 0px;
   top: 60px;
   height: 100%;
   width: 40%;

}
#textbodydiv{
	position: fixed;
	left: 250px;
	top: 60px;


}
#imageblock{
	display:block

}
#largeheadertext{
	font-size: 34px;
	font-family: "Arial";
	color: blue;

}
#align-left{
text-align: left;


}
#align-centre{
text-align: center;
}